.people__heading {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  line-height: 1;
  letter-spacing: .03em;
  font-style: normal;
  font-weight: 700; 
  margin: 0 0 26px;
  text-transform: uppercase;
}