.people__table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}

@media (max-width: 1024px) {
  .people__table {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .people__table {
    gap: 30px;
  }
}

@media (max-width: 500px) {
  .people__table {
    grid-template-columns: 1fr;
  }
}