.places__title {
  font-style: normal;
  font-weight: bold;
  line-height: 1.15;
  font-size: 37px;
  margin: 0 0 30px;
  flex: 1 1 auto;
}

@media (max-width: 1024px) {
  .places__title {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .places__title {
    font-size: 30px;
  }
}
