.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 90px;
  align-items: center;
  padding: 95px 80px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .intro {
    padding: 75px 60px;
    gap: 70px;
  }
}

@media (max-width: 768px) {
  .intro {
    grid-template-columns: 1fr;
    padding: 50px 40px;
  }
}

@media (max-width: 500px) {
  .intro {
    gap: 50px;
    padding: 40px 25px;
  }
}