.people {
  margin: 130px auto 0;
  padding: 25px 75px 140px;
  box-sizing: border-box;
}


@media (max-width: 1024px) {
  .people {
    padding: 25px 60px 140px;
  }
}

@media (max-width: 500px) {
  .people {
    margin: 100px auto 0;
    padding: 25px 25px 60px;
  }
}