.people {
  padding: 125px 75px;
  box-sizing: border-box;
}


@media (max-width: 1024px) {
  .people {
    padding: 80px 60px;
  }
}

@media (max-width: 768px) {
  .people {
    padding: 25px 40px 60px;
  }
}

@media (max-width: 600px) {
  .people {
    padding: 25px 25px 60px;
  }
}