.places__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 600px;
  grid-template-areas: 'image text';
}

.places__box:nth-of-type(2n) {
  grid-template-areas: 'text image';
}

@media (max-width: 1024px) {
  .places__box {

  }
}

@media (max-width: 768px) {
  .places__box {
    grid-template-columns: 1fr;
    grid-template-rows: 80vw;
    grid-template-areas:
      'image'
      'text';
  }

  .places__box:nth-of-type(2n) {
    grid-template-areas:
      'image'
      'text';
  }
}

